importFrom(utils, capture.output, browseURL)
importFrom(sparklyr,
           spark_dependency, register_extension, invoke_static,
           invoke, spark_connection, spark_dataframe, sdf_register,
           spark_context)
importFrom(h2o, h2o.getFrame, h2o.getId, h2o.init)

S3method(h2o_context,spark_connection)
S3method(h2o_context,spark_jobj)
export(as_h2o_frame)
export(as_spark_dataframe)
export(h2o_context)
export(h2o_flow)
