# generated resource file containing Spark version for which Sparkling Water was built
core/src/main/resources/spark.version
*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# Private things
private/
tmp/
build/
lib/
out/
*iws
*ipr
.settings/
.gradle/
.DS_Store*
*.ipr
*.iml
.idea
metastore_db/
derby.log
demofiles.list

# H2O stuff #
h2ologs/


# generated custom config for jupyter
jupyter_custom_config/

# big data folder
examples/bigdata

# generated Dockerfile
docker/sparkling-water/base/Dockerfile

