language: scala
sudo: true
dist: trusty

jdk:
  - oraclejdk8
  - openjdk8

before_cache:
  - rm -f $HOME/.gradle/caches/modules-2/modules-2.lock

cache:
    directories:
        - $HOME/.m2
        - $HOME/.gradle/caches/
        - $HOME/.gradle/wrapper/

script:
 - travis_wait 20 ./gradlew sparkling-water-core:test
 - ./gradlew sparkling-water-ml:test
 - ./gradlew sparkling-water-repl:test
