/examples/notebooks/h2ologs
/examples/notebooks/metastore_db
# ipython nootebook checkpoints
examples/notebooks/.ipynb_checkpoints

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Distribution / packaging
build/
dist/
*.egg-info/
version.txt